@import './Button.theme-mind.css';

@layer base {
  :root {
    --btn-bg: var(--color-primary);
    --btn-text: var(--color-on-primary);
    --btn-secondary-bg: var(--color-secondary);
    --btn-secondary-text: var(--color-on-primary);
  }
}
