@layer base {
  [data-theme='theme-mind'] {
    --font-family: Georgia, serif;

    /* Cores primitivas */
    --color-primary: #0ca678;
    --color-secondary: #f76707;
    --color-neutral: #74c0fc;

    /* Border radius */
    --radius: 12px;
  }
}
